.header {
    all: unset;
}

.root {
    height: var(--header-height);
    background-color: var(--dark-blue);
    color: var(--light-text);
    padding: 0 16px;
    overflow: visible;

    @media (max-width: 480px) {
        padding: 0 8px;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        margin: 0;
    }

    .left {
        @media (max-width: 480px) {
            width: 100%;
        }

        .logo {
            min-width: 120px;
            max-width: 120px;
            height: 80%;
            cursor: pointer;
        }

        .menus {
            width: auto;
            color: #fff;

            @media (max-width: 1200px) {
                display: none;
            }
        }

        .sider {
            display: none;

            @media (max-width: 1200px) {
                display: block;
            }
        }
    }

    .right {

        .link {
            font-size: 1.10rem !important;
            font-weight: 500 !important;
        }

        @media (max-width: 480px) {
            width: 100%;
        }

        .themeSelect :global(.ant-select-selector) {
            border-color: #fff !important;
            color: #fff;
            background-color: transparent;
        }

        .search {
            width: 300px !important;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .expand {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .item {
                &:hover {
                    background-color: var(--light-grey);
                }
            }
        }
    }

    .sider-menu {}
}