.root {

    &:focus {
        box-shadow: none !important;
    }

    &:focus-within {
        box-shadow: none !important;
    }

    :global(.ant-input-group-addon) {
        display: none;
    }

    :global(.ant-input):focus {
        box-shadow: none !important;
    }

    :global(.ant-input):hover {
        box-shadow: none !important;
    }

    :global(.ant-input-prefix) {
        margin-right: 8px;
    }
}