.root {
    .body {
        padding: 16px;

        .top {

            .detail {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding-bottom: 16px;
                
                .image {
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                }
            }

            .price {
                border: 1px solid #ccc;
                border-radius: 4px;
                height: fit-content;

                .amount {
                    padding: 16px 32px;
                    background-color: var(--light-grey);
                    border-radius: 4px;
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    .slash {
                        position: relative;
                        &::before {
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: black;
                            position: absolute;
                            top: 50%;
                            left: 0;
                        }
                    }
                    
                    .hide {
                        display: none
                    }
                }

                .quantity {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px;
                    background-color: var(--light-grey);
                }
            }
        }

        .bottom {
            .reviews {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 32px;
                background-color: var(--light-grey);

                .review {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #ccc;
                }
            }

            .write-review {
                border: 1px solid #ccc;
                border-radius: 4px;
                height: fit-content;

                .head {
                    padding: 16px 32px;
                    border-radius: 4px;
                    background-color: var(--light-grey);
                }

                .rating {
                    :global(.ant-select-selector) {
                        box-shadow: none !important;
                    }
                    
                    :global(.ant-select-selection-item) {
                        color: var(--black-text) !important;
                    }
                
                    :global(.ant-select-arrow) {
                        color: var(--black-text) !important;
                    }
                }
            }
        }
    }
}