.root {
    svg {
        width: 48px !important;
        height: 48px !important;
        color: var(--black-text);
        z-index: 10;
        &:hover {
            color: var(--black-text);
        }
    }

    svg:nth-of-type(1) {
        left: -32px
    }

    svg:nth-of-type(2) {
        right: -32px
    }
}