.root {
    all: unset;
    padding: 0;
    padding: 0 16px;
    height: 68px;
    overflow: hidden;
    background-color: var(--pastel-grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}