.root {
    border: 1px solid red;
    overflow-x: hidden;

    .head {
        padding: 16px;
    }

    .carousel-container {
        border: 1px solid #ccc;
        width: calc(100% - 32px);
        padding: 16px 48px;
        margin: auto
    }

    .featured {
        border: 1px solid #ccc;
        width: calc(100% - 32px);
        padding: 16px 48px;
        margin: auto;
    }
}